<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-usb-serial-android" version="0.0.1">
   <name>USBSerialAndroid</name>
   <js-module name="USBSerialAndroid" src="www/USBSerialAndroid.js">
      <clobbers target="cordova.plugins.USBSerialAndroid" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="USBSerialAndroid">
            <param name="android-package" value="cordova.usbSerialAndroid.USBSerialAndroid" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
	  <source-file src="libs/usbserial/util/HexDump.java" target-dir="libs/HexDump" />
	  <source-file src="libs/usbserial/util/SerialInputOutputManager.java" target-dir="libs/SerialInputOutputManager" />
	  <source-file src="libs/usbserial/BuildInfo.java" target-dir="libs/BuildInfo" />

	  <source-file src="libs/usbserial/driver/CdcAcmSerialDriver.java" target-dir="libs/CdcAcmSerialDriver" />
	  <source-file src="libs/usbserial/driver/Ch34xSerialDriver.java" target-dir="libs/Ch34xSerialDriver" />
	  <source-file src="libs/usbserial/driver/CommonUsbSerialPort.java" target-dir="libs/CommonUsbSerialPort" />
	  <source-file src="libs/usbserial/driver/Cp21xxSerialDriver.java" target-dir="libs/Cp21xxSerialDriver" />
	  <source-file src="libs/usbserial/driver/FtdiSerialDriver.java" target-dir="libs/FtdiSerialDriver" />
	  <source-file src="libs/usbserial/driver/ProbeTable.java" target-dir="libs/ProbeTable" />
	  <source-file src="libs/usbserial/driver/ProlificSerialDriver.java" target-dir="libs/ProlificSerialDriver" />
	  <source-file src="libs/usbserial/driver/UsbId.java" target-dir="libs/UsbId" />
	  <source-file src="libs/usbserial/driver/UsbSerialDriver.java" target-dir="libs/UsbSerialDriver" />
	  <source-file src="libs/usbserial/driver/UsbSerialPort.java" target-dir="libs/UsbSerialPort" />
	  <source-file src="libs/usbserial/driver/UsbSerialProber.java" target-dir="libs/UsbSerialProber" />
	  <source-file src="libs/usbserial/driver/UsbSerialRuntimeException.java" target-dir="libs/UsbSerialRuntimeException" />
	  
      <source-file src="src/android/USBSerialAndroid.java" target-dir="src/USBSerialAndroid" />
	  <lib-file src="libs/Puppy.jar" arch="puppy" />
	  <lib-file src="libs/tablet-1.0.0.jar" arch="tablet" />
   </platform>
</plugin>