<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-usb-serial-android" version="0.0.1">
   <name>USBSerialAndroid</name>
   <js-module name="USBSerialAndroid" src="www/USBSerialAndroid.js">
      <clobbers target="cordova.plugins.USBSerialAndroid" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="USBSerialAndroid">
            <param name="android-package" value="cordova.usbSerialAndroid.USBSerialAndroid" />
         </feature>
      </config-file>
	  
	   <config-file target="AndroidManifest.xml" parent="/*">
			<uses-feature android:name="android.hardware.usb.host" />
			<uses-permission android:name="android.permission.USB_PERMISSION" />
			<uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="application/activity">
			<intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />
		</config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
	  <source-file src="src/android/device_filter.xml" target-dir="res/xml" />
	  <source-file src="libs/usbserial/util/HexDump.java" target-dir="libs/HexDump" />
	  <source-file src="libs/usbserial/util/SerialInputOutputManager.java" target-dir="libs/SerialInputOutputManager" />
	  <source-file src="libs/usbserial/BuildInfo.java" target-dir="libs/BuildInfo" />

	  <source-file src="libs/usbserial/driver/CdcAcmSerialDriver.java" target-dir="libs/CdcAcmSerialDriver" />
	  <source-file src="libs/usbserial/driver/Ch34xSerialDriver.java" target-dir="libs/Ch34xSerialDriver" />
	  <source-file src="libs/usbserial/driver/CommonUsbSerialPort.java" target-dir="libs/CommonUsbSerialPort" />
	  <source-file src="libs/usbserial/driver/Cp21xxSerialDriver.java" target-dir="libs/Cp21xxSerialDriver" />
	  <source-file src="libs/usbserial/driver/FtdiSerialDriver.java" target-dir="libs/FtdiSerialDriver" />
	  <source-file src="libs/usbserial/driver/ProbeTable.java" target-dir="libs/ProbeTable" />
	  <source-file src="libs/usbserial/driver/ProlificSerialDriver.java" target-dir="libs/ProlificSerialDriver" />
	  <source-file src="libs/usbserial/driver/UsbId.java" target-dir="libs/UsbId" />
	  <source-file src="libs/usbserial/driver/UsbSerialDriver.java" target-dir="libs/UsbSerialDriver" />
	  <source-file src="libs/usbserial/driver/UsbSerialPort.java" target-dir="libs/UsbSerialPort" />
	  <source-file src="libs/usbserial/driver/UsbSerialProber.java" target-dir="libs/UsbSerialProber" />
	  <source-file src="libs/usbserial/driver/UsbSerialRuntimeException.java" target-dir="libs/UsbSerialRuntimeException" />
	  
	  <source-file src="src/android/java/android_serialport_api/SerialPort.java" target-dir="app/src/main/java/androidSerialportApi/" />
	  <source-file src="src/android/java/android_serialport_api/SerialPortFinder.java" target-dir="app/src/main/java/androidSerialportApi/" />
	  <source-file src="src/android/java/cdc/CdcAcmSerialPort.java" target-dir="app/src/main/java/cdc/" />
	  <source-file src="src/android/java/cdc/CommonUsbSerialPort.java" target-dir="app/src/main/java/cdc/" />
	  <source-file src="src/android/java/cdc/UsbCdcManager.java" target-dir="app/src/main/java/cdc/" />
	  <source-file src="src/android/java/cdc/UsbId.java" target-dir="app/src/main/java/cdc/" />
	  <source-file src="src/android/java/cdc/UsbSerialPort.java" target-dir="app/src/main/java/cdc/" />
	  
	  <source-file src="src/android/java/com/nlscan/bean/AssistBean.java" target-dir="app/src/main/java/com/nlscan/bean/" />
	  <source-file src="src/android/java/com/nlscan/bean/ComBean.java" target-dir="app/src/main/java/com/nlscan/bean/" />
	  
	  <source-file src="src/android/java/com/nlscan/ComAssistant/MyFunc.java" target-dir="app/src/main/java/com/nlscan/ComAssistant/" />
	  <source-file src="src/android/java/com/nlscan/ComAssistant/SerialHelper.java" target-dir="app/src/main/java/com/nlscan/ComAssistant/" />
	  
	  <source-file src="src/android/java/utils/clsPublic.java" target-dir="app/src/main/java/utils/" />
	  <source-file src="src/android/java/utils/MyLog.java" target-dir="app/src/main/java/utils/" />
	  
	  <source-file src="src/android/jni/Android.mk" target-dir="app/src/main/java/c/android/jni/"/>
	  <source-file src="src/android/jni/Application.mk" target-dir="app/src/main/java/c/android/jni/"/>
	  <source-file src="src/android/jni/gen_SerialPort_h.sh" target-dir="app/src/main/java/c/android/jni/"/>
	  <source-file src="src/android/jni/SerialPort.c" target-dir="app/src/main/java/c/android/jni/"/>
	  <source-file src="src/android/jni/SerialPort.h" target-dir="app/src/main/java/c/android/jni/"/>
	  
	  <source-file src="src/android/libs/armeabi/libserial_port.so" target-dir="app/src/main/jniLibs/armeabi/" />
	  
      <source-file src="src/android/USBSerialAndroid.java" target-dir="src/USBSerialAndroid" />
	  <lib-file src="libs/Puppy.jar" arch="puppy" />
	  <lib-file src="libs/tablet-1.0.0.jar" arch="tablet" />
	  <lib-file src="libs/SenterOpenApi_IoT_1.2.3.107_20230324161451_Common.jar" arch="senterCommon" />
	  <lib-file src="libs/SenterOpenApi_IoT_1.2.3.107_20230324161451_Function_Barcode.jar" arch="senterBarcode" />
	  <lib-file src="libs/SenterOpenApi_IoT_1.2.3.107_20230324161451_Function_BarcodeAidl.jar" arch="senterAidl" />
	  <lib-file src="libs/SenterOpenApi_IoT_1.2.3.107_20230324161451_Function_KeyManager.jar" arch="senterKeyManager" />
   </platform>
</plugin>